/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

//https://coolors.co/app/2d728f-3b8ea5-f5ee9e-f49e4c-ab3428
// #2d728f
// #3b8ea5
// #f5ee9e
// #f49e4c
// #ab3428

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;

$balanced:                        lighten(#66cc33, 20%) !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;

$sunrise: lighten($energized, 20%);
$sunset: lighten($assertive, 20%);
$informational: #2d728f;

// $royal:                           #8a6de9 !default;
// $calm:                            #43cee6 !default;
// $positive:                        #4a87ee !default;
$royal:                           $sunrise !default;
$calm:                            $sunset !default;
$positive:                        darken($informational, 10%) !default;

$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.slider {
  // height: 100%;
}
.slider-pager {
  top: 0;
  bottom: initial;
}

.icon-mirrored {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.item {
  &.item-no-border {
    border: none;
  }
}

.fat {
  &.fat-head {
    margin-top: 10px;
  }
  &.fat-ass {
    margin-bottom: 10px;
  }
}
.skinny {
  &.skinny-head {
    margin-top: -10px;
  }
  &.skinny-ass {
    margin-bottom: -10px;
  }
}

.angular-google-map {
  height: 220px;
  width: 100%;
}
.angular-google-map-container {
  height: 220px;
  width: 100%;
  // -webkit-box-shadow: 0px 4px 44px -14px rgba(102,102,102,1);
  // -moz-box-shadow: 0px 4px 44px -14px rgba(102,102,102,1);
  // box-shadow: 0px 4px 44px -14px rgba(102,102,102,1);
}

.type {
  &.type-small {
    font-size: .7em;
  }
  &.type-biggest {
    font-size: 64px;
  }
  // COLORS
  &.type-balanced {
    color: $balanced;
  }
  &.type-positive {
    color: $positive;
  }
  &.type-serious {
    color: $dark;
  }
  &.type-stable {
    color: $stable;
  }
  &.type-assertive {
    color: $assertive;
  }
  &.type-energized {
    color: $energized;
  }
  &.type-royal {
    color: $royal;
  }
  &.type-calm {
    color: $calm;
  }
  &.type-muted {
    color: gray;
  }
  &.type-dark {
    color: $dark;
  }
}
