<ion-view view-name="tabs-location" view-title="{{ data.string }}" hide-nav-bar="true">

<!-- content goes here -->
<ion-content class="padding" scroll="false">

<div class="item item-icon-left item-no-border item-icon-right">

  <i class="icon ion-ios-location type" ng-class="{'type-assertive' : data.timezone.data.timeZoneName, 'type-muted' : !data.timezone.data.timeZoneName}"></i>

  <p class="type type-positive" >
    <span class="type type-muted">Latitude </span>
    <!-- &nbsp;<i class="icon ion-android-more-horizontal type type-muted"></i>&nbsp; -->
    {{ data.marker.coords.latitude | number:4 }}
    &nbsp;
    <span class="type type-muted">Longitude </span>
    <!-- &nbsp;<i class="icon ion-android-more-vertical type type-muted"></i>&nbsp; -->
    {{ data.marker.coords.longitude | number:4 }}

  </p>

  <p class="type type-positive">
    <span class="type type-muted">@</span>
    &nbsp;{{ data.nearestCity }}
  </p>

  <p class="type type-positive">
    <span class="type type-muted">Timezone</span>
    &nbsp;{{ data.timezone.data.timeZoneName || 'Unavailable'}}
  </p>

  <p class="type type-assertive" ng-if="error">
    Error: {{ error }}
  </p>

  <i class="icon ion-pinpoint type "
      ng-click="findMe()"
      ng-class="{ 'type-balanced' : locationActual, 'type-muted' : !locationActual }"></i>

</div>


<div class="card padding" style="height: 70%;">
  <ui-gmap-google-map
    class=""
    center='map.center'
    zoom='map.zoom'
    options="map.options"
    styles="map.styles"
    events="map.events">

    <ui-gmap-marker
      idKey='data.marker.idKey'
      coords="data.marker.coords"
      options="data.marker.options"
            >
            <!-- idKey='{expression}'
            coords='{expression}'
            click='{expression}'
            options='{expression}'
            events='{expression}'
            control='{expression}' -->
    </ui-gmap-marker>

  </ui-gmap-google-map>
</div>



</ion-content>
</ion-view>
