<ion-view view-name="tabs-location" view-title="{{ data.string }}">

<!-- content goes here -->
<ion-content class="padding" scroll="false">

<p class="type type-positive" ng-if="!addressMode" ng-click="changeAddressMode()">

  &nbsp;<i class="icon ion-android-more-horizontal type type-muted"></i>&nbsp;
  {{ data.marker.coords.latitude | number:4 }}
  &nbsp;
  &nbsp;<i class="icon ion-android-more-vertical type type-muted"></i>&nbsp;
  {{ data.marker.coords.longitude | number:4 }}

  <button class="button button-small button-balanced icon-left ion-pinpoint"
          ng-click="findMe()"
          ng-class="{ 'button-clear' : locationActual, 'button-outline' : !locationActual }"
          style="float:right;">Find me</button>

</p>


<p class="type type-positive">
  <span class="type type-muted">@</span>
  &nbsp;{{ data.nearestCity }}
</p>

<p class="type type-positive">
  <span class="type type-muted">Timezone</span>
  &nbsp;{{ data.timezone.data.timeZoneName || 'Unavailable'}}
</p>

<div class="row" ng-if="error">
  <div class="col col-100">
    <h5 class="type type-assertive" ng-if="error">
      Error: {{ error }}
    </h5>
  </div>
</div>

<ui-gmap-google-map
  center='map.center'
  zoom='map.zoom'
  options="map.options"
  styles="map.styles"
  events="map.events">

  <ui-gmap-marker
    idKey='data.marker.idKey'
    coords="data.marker.coords"
    options="data.marker.options"
          >
          <!-- idKey='{expression}'
          coords='{expression}'
          click='{expression}'
          options='{expression}'
          events='{expression}'
          control='{expression}' -->
  </ui-gmap-marker>

</ui-gmap-google-map>



</ion-content>
</ion-view>
