<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Location Tab -->
  <ion-tab title="Location" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" ui-sref="main.location">
    <ion-nav-view name="tabs-location"></ion-nav-view>
  </ion-tab>

  <!-- Real times Tab -->
  <ion-tab title="Times" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" ui-sref="main.times">
    <ion-nav-view name="tabs-times"></ion-nav-view>
  </ion-tab>

  <!-- Solar events Tab -->
  <ion-tab title="Solar Events" icon-off="ion-ios-sunny-outline" icon-on="ion-ios-sunny"
    ui-sref="main.solarEvents">
    <ion-nav-view name="tabs-solarevents"></ion-nav-view>
  </ion-tab>

  <!-- Lunar events tab -->
  <ion-tab title="Lunar Events" icon-off="ion-ios-moon-outline" icon-on="ion-ios-moon"
    ui-sref="main.lunarEvents">
    <ion-nav-view name="tabs-lunarevents"></ion-nav-view>
  </ion-tab>

</ion-tabs>
