<ion-view view-name="timer" view-title="Local Times">

<ion-nav-bar class="bar-light">
  <!-- back button, shown if applicable -->
  <ion-nav-back-button>
  </ion-nav-back-button>
  <!-- nav button, shown if applicable -->
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ui-sref="numbas">
    Moar!
    </button>
  </ion-nav-buttons>
</ion-nav-bar>


  <!-- do you want padding? -->
  <ion-content >

    <!-- content goes here -->
    <div class="padding">

    <p class="type type-muted">
      <span ng-if="addressMode" ng-click="changeAddressMode()">
        @&nbsp;{{ nearestCity }} <br>
      </span>
      <span ng-if="!addressMode" ng-click="changeAddressMode()">
        <i class="icon ion-map"></i>&nbsp;
        <i class="icon ion-android-more-vertical"></i>
        {{ map.center.longitude | number:4 }}
        ,
        <i class="icon ion-android-more-horizontal"></i>
        {{ map.center.latitude | number:4 }}
      </span>
    </p>

    <div class="row" ng-if="error">
      <div class="col col-100">
        <h5 class="type type-assertive" ng-if="error">
          Error: {{ error }}
        </h5>
      </div>
    </div>

    <ui-gmap-google-map
      center='map.center'
      zoom='map.zoom'
      options="map.options"
      styles="map.styles"
      events="map.events">

      <ui-gmap-marker
        idKey='marker.idKey'
        coords="marker.coords"
        options="marker.options"
              >
              <!-- idKey='{expression}'
              coords='{expression}'
              click='{expression}'
              options='{expression}'
              events='{expression}'
              control='{expression}' -->
      </ui-gmap-marker>

    </ui-gmap-google-map>


  <div class="row skinny skinny-ass">
    <div class="col col-50">
      <button class="button button-block icon-left ion-navigate" ng-class="{ 'button-balanced' : ( mapMoved === true) }" ng-click="chooseLocation(map.center)">{{ map.center.latitude | number:1 }}, {{ map.center.longitude | number:1 }}</button>
    </div>
    <div class="col col-50">
      <button class="button button-block button-positive icon-left ion-pinpoint" ng-click="geoLocate()">Find me</button>
    </div>
  </div>

  <div class="row">
    <p class="type type-calm">
      JD: {{ JD }} <br>
      localTotalJD: {{ localTotalJD }}  <br>
      diff JD - localTotalJD: {{ JD - localTotalJD }} <br>
      TimeFactory eot: {{ TFEOT }} <br>
      RiserFactory eot: {{ calcEquationOfTime }}

    </p>
  </div>

 <!--  <div class="row">
    <div class="col col-50"><button class="button button-positive icon ion-pinpoint" ng-click="chooseLocation(map.center)"></button></div>
    <div class="col col-50"><button class="button button-calm icon ion-pinpoint" ng-click="reCenter()"></button></div>
  </div>
 -->



    <!-- SLIDE PAGER -->

      <ion-slide-pager></ion-slide-pager>



    <!-- SLIDE BOX -->
    <ion-slide-box active-slide="0" class="" show-pager="true" >

    <!-- LOCAL TIMES -->
    <ion-slide>
      <div>
      <div class="row skinny skinny-ass">

        <div class="col col-100">

          <p class="type type-muted">
            Apparent solar time
          </p>
          <h2 class="type skinny skinny-head type-positive ">
            <i class="icon ion-ios-time-outline"></i>
            {{ trueTime | date: 'HH:mm:ss' }}
            &nbsp;
            <span class="type" ng-class="{ 'type-balanced' : !diffTrueClock.behind, 'type-calm' : diffTrueClock.behind }" style="font-size: .8em;">
              {{ diffTrueClock.output  }}
            </span>
          </h2>


          <p class="type type-muted">
             Mean solar time
          </p>
          <h2 class="type skinny skinny-head type-positive">

            <i class="icon ion-ios-clock-outline"></i>
            {{ meanTime | date: 'HH:mm:ss' }}
            &nbsp;
            <span class="type" ng-class="{ 'type-balanced' : !diffMeanClock.behind, 'type-calm' : diffMeanClock.behind }" style="font-size: .8em;">
              {{ diffMeanClock.output  }}
            </span>
          </h2>

          <p class="type type-muted">
            Clock time ({{timeZoneName || 'measured longitudinally'}})
          </p>
          <h2 class="type skinny skinny-head type-muted">

            <i class="icon ion-ios-clock-outline"></i>
            {{ clock | date: 'HH:mm:ss' }}
          </h2>

        </div>
      </div>
      </div>

    </ion-slide>

    <!-- SUN TIMES -->
    <ion-slide>
      <div class="" >
        <div class="row skinny skinny-ass">

          <div class="col col-100">

            <p class="type type-muted"><i class="icon ion-ios-clock-outline"></i> Sunrise</p>
            <h2 class="type type-royal skinny skinny-head">
              <i class="icon ion-contrast"></i>
              {{ sunrise }}
            </h2>

            <p class="type type-muted"><i class="icon ion-ios-clock-outline"></i> Solar Noon</p>
            <h2 class="type type-energized skinny skinny-head">
              <i class="icon ion-record"></i>
              {{ noon }}
            </h2>

            <p class="type type-muted"><i class="icon ion-ios-clock-outline"></i> Sunset</p>
            <h2 class="type type-calm skinny skinny-head">
              <i class="icon ion-contrast "></i>
              {{ sunset }}
            </h2>
          </div>

        </div>
      </div>

    </ion-slide>




    </ion-slide-box>





  </ion-content>
</ion-view>
